{% extends 'searcher/_base.html' %}

{% load crispy_forms_tags %}

{% block content %}


<!--TODO: Add logined check-->
<div class="container">
    <h1>Hello. Log in, please!</h1>
    <div class="row">
        <div class="col-md-5">
            <form action="{% url 'searcher:login' %}" method="POST">
                {% csrf_token %}
                    {{ form|crispy }}
                <button type="submit" value="Submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>




{% endblock %}
